# old source files that don't need to be used anymore
customhash.py
middleware.py
dbprocessing.py

# shell scripts
runbackend.sh

# project files
bundle.js
*.bundle.js
.DS_Store
dbcred.txt
node_modules
