{% block header %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Wishlist</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/nav.css') }}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script src="js/createAccount.js"></script>
    <script src="js/api.js"></script>
    <script src="js/localStorage.js"></script>
  </head>
  {% endblock %}
  <body>
    {% block nav %}
    <nav>
      <nav class="Nav">
        <a href="/" class="Navs"> <span class="Nav_title"> WishList </span></a>
        <div>
          <h1 id="UserId1" style="color: white; text-align: center;"> </h1>
        </div>
        <div class="Navi">
          <a href="itemlists" class="Navs"> Recommendation </a>&nbsp;
          <a href="wishlists" class="Navs"> My List </a>&nbsp;
          <a href="login" class="Navs"  id ="LoginButton"> Login </a>&nbsp;
          <a href="login" class="Navs" hidden id ="LogOutButton"> Logout </a>&nbsp;
        </div>
      </nav>
    </nav>
    {% endblock %}<br /><br />
    {% block content %} {% endblock %}
  </body>
</html>
