#test{
  width: 0px;
  height: 0px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;

}


@keyframes example {
  from {
  	height: 0px;
  	width: 0px;
  }
  to { 
  	height: 500px;
  	width: 500px;
  }
}