<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	  <title>Wishlist - Sign Up</title>
	<link href="css/style.css" rel="stylesheet">
	<script src="js/script.js"></script>
	
	</head>
		<body>
			<header><h1>Sign Up</h1></header>
			<nav id="listLinks">
				<a href="/"><b>Home</b></a>  &nbsp;  &nbsp;
				<a href="/Login"><b>Login</b></a> &nbsp;  &nbsp; 
				<a href="/MyWishlist"><b>My List</b></a>  &nbsp;  &nbsp;
			</nav>
			<br><br>
			<!-- <p1>This is some test Text to get file uploaded onto flask</p1><br> -->
			<form>			
				<input type="text" placeholder="Username"><span id="validateId"></span><br> 
				<input type="text" placeholder="password"><span id="validatePw"></span><br><br>
				<button>Sign Up</button><br><br>
			</form>
		</body>
</hmtl>