{% extends "layouts/createaccountLayout.html" %}
  <body>
    {% block nav %} {{super()}} {% endblock %} {% block content %}

    <div style="text-align: center;"> 
        <h1>Create Account</h1>
        <div>
          <h2 id="response"></h2>
        </div>
        <br />
        <br />
        <form>
          <input
            type="text"
            id="user"
            className="username"
            placeholder="Username"
          ></input>
          <br />
          <br />
          <input
            type="password"
            id="pass"
            className="password"
            placeholder="password"
          ></input>
          <br /> <br />
         <button type="button" id="submitAccount" class="submitAccount" onclick="Con()" className="btn">Sign Up</button>
        </form>
    </div>
    
    {% endblock %}
  </body>
</html>