{% extends "layouts/createaccountLayout.html" %}
  <body>
    {% block nav %} {{super()}} {% endblock %} {% block content %}

    <div style="text-align: center;"> 
        <h2>Create Account</h2>
        <br />
        <br />
        <form>
          <input
            type="text"
            id="user"
            className="username"
            placeholder="Username"
          ></input>
          <br />
          <br />
          <input
            type="text"
            id="pass"
            className="password"
            placeholder="password"
          ></input>
          <br /> <br />
          <a href="login"><button type="button" id="submitAccount" class="submitAccount" onclick="Con()" className="btn">submit</a>
            Sign up</button>
        </form>
    </div>
    {% endblock %}
  </body>
</html>