{% extends "layouts/layout.html" %}
{% block head %} {{super()}} {% endblock %} 
  <body>
    {% block nav %} {{super()}} {% endblock %} {% block content %}
    <div style="text-align: center;"> 
        <h2>Create Account</h2>
        <br />
        <br />
        <form>
          <input
            type="text"
            className="username"
            placeholder="Username"
          ></input>
          <br />
          <br />
          <input
            type="text"
            className="password"
            placeholder="password"
          ></input>
          <br /> <br />
          <button type="button" className="btn">
            Sign up
          </button>
        </form>
    </div>
    {% endblock %}
  </body>
</html>
