{% extends "layouts/layout.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	<meta charset="utf-8" />
	<title>Wishlist</title>
  </head>
  <body>
	{% block nav %} {{super()}} {% endblock %} {% block content %}
	<div style="text-align: center">
	  <h1>Home</h1>

	  this is our wishlist
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		$.get("/api/list", {username:"penguin"}, (data) =>
		{
			console.log(data)
		}, "json");
	</script>
	  {% endblock %}
  </body>
</html>
