{% extends "layouts/layout.html" %}

{% block head %} {{super()}} {% endblock %} 

  <body>
	{% block nav %} {{super()}} {% endblock %} {% block content %}
	<div style="text-align: center">
	  <h1>Home</h1>

	  this is our wishlist
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="js/api.js"></script>
	<script>
		var api = new Api("ike", "password");
		api.get_users("ike");
		api.get_items();
		api.get_lists();
	</script>
	  {% endblock %}
  </body>
</html>
