<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	  <title>Wishlist - Item</title>
	<link href="css/style.css" rel="stylesheet">
	<script src="js/script.js"></script>
	
	</head>
		<body>
			<header><h1>My Wishlist - Item</h1></header>
			<nav id="listLinks">
				<a href="index.html"><b>Home</b></a>  &nbsp;  &nbsp;
				<a href="Login.html"><b>Login</b></a> &nbsp;  &nbsp; 
				<a href="MyWishlist.html"><b>My List</b></a>  &nbsp;  &nbsp;
			</nav>
			<br><br>
			<!-- <p1>This is some test Text to get file uploaded onto flask</p1><br> -->
		</body>
</hmtl>