{% extends "layouts/layout.html" %}
{% block head %} {{super()}} {% endblock %} 
{% block nav %} {{super()}} {% endblock %}
{% block content %}

<div class="row">
	<h2 id="LoginResponse"> </h2>
	<div class="col-sm border">
		<div class="container-sm-3">
			<div class="row">
				<div class="col h5">Username</div>
				<div class="col">
					<input type="text" id="username-input" className="username" placeholder="Username" ></input>
				</div>
			</div>
			<div class="row">
				<div class="col h5">Password</div>
				<div class="col">
					<input type="text" id="password-input" className="username" placeholder="Username" ></input>
					<button type="button" onclick="logIn()" className="btn">Login</button>
				</div>
			</div>
		</div>
	</div>
</div>
				
<a href="/createaccount">Create Account</Link>
{% endblock %}