{% extends "layouts/layout.html" %}
{% block head %} {{super()}} {% endblock %} 
{% block nav %} {{super()}} {% endblock %}
{% block content %}

<div class="row">
	<div class="col-sm border">
		<div class="container-sm-3">
			<div class="row">
				<div class="col h5">Username</div>
				<div class="col">
					<input type="text" id="username-input" className="username" placeholder="Username" ></input>
				</div>
			</div>
			<div class="row">
				<div class="col h5">Password</div>
				<div class="col">
					<input type="text" id="password-input" className="username" placeholder="Username" ></input>
				</div>
			</div>
		</div>
	</div>
</div>
				
<a href="/createaccount">Create Account</Link>

<script type="text/javascript">
	$(document).ready(function(){
		$("button").click(function(){
			if (typeof(Storage) !== "undefined") {
				if(1==1){//logging in
					localStorage.setItem("username", "admin");
					localStorage.setItem("password", "password");
				}else{
						let password = localStorage.getItem("password");
						let username = localStorage.getItem("username");
				} 
			} else {
				// Sorry! No Web Storage support..
			}
		});
	});  
</script>
{% endblock %}