{% extends "layouts/layout.html" %}

{% block head %}
<script src="js/logincheck.js"></script>
{% endblock %} 

{% block content %}

<div class="row text-center">
	<div class="col"></div>
	<div class="col-5 m-5">
		<div class="container">
			<div class="row m-2">
				<div class="col">
					<button id="change-username-button" class="btn btn-warning">Change Username</button>
				</div>
			</div>
			<div class="row m-2">
				<div class="col">
					<button id="change-password-button" class="btn btn-warning">Change Pasword</button>
				</div>
			</div>
			<div class="row m-2">
				<div class="col">
					<button id="delete-account-button" class="btn btn-danger">Delete Account</button>
				</div>
			</div>

		</div>
	</div>
	<div class="col"></div>
</div>

{% endblock %} 