{% extends "layouts/layout.html" %}

{% block head %} {{super()}} {% endblock %} 
	<body>
		{% block nav %} {{super()}} {% endblock %} {% block content %}
		<div class="container-fluid bg-light">
			<!-- UI bar -->
			<div class="row p-2">
				<div class="col">
					<h1 id="list-label"></h1>
				</div>
				<div class="col-sm-2 d-flex justify-content-center">
					<button id="additem" data-toggle="modal" data-target="#add-item-modal" class="btn btn-secondary ml-3">Add New Item</button>
				</div>
			</div>
			<!-- Item list -->
			<div id="list-items" class="row" listid={{listid}}></div>
			<!-- Recommended list -->
			<h1 class="row mt-5">Recommended Items</h1>
			<div id="recommended-items" class="row"></div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="add-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal-label">Add New Item</h5>
						<button class="btn" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row p-1">
							<div class="col">Label</div>
							<div class="col">
								<input id="label-input" placeholder="..."/>
							</div>
						</div>
						<div class="row p-1">
							<div class="col">Description</div>
							<div class="col">
								<input id="descr-input" placeholder="..."/>
							</div>
						</div>
						<div class="row p-1">
							<div class="col">Image Url</div>
							<div class="col">
								<input id="img-input" placeholder="..."/>
							</div>
						</div>
						<div class="row p-1">
							<div class="col">Item Url</div>
							<div class="col">
								<input id="url-input" placeholder="..."/>
							</div>
						</div>
						<div class="row p-1">
							<div class="col">Price</div>
							<div class="col">
								<input id="price-input" placeholder="..."/>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="create" class="btn btn-secondary">Add</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="display-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="item-title">Add New Item</h5>
						<button class="btn" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row p-1">
							<div class="col">Label</div>
							<div class="col">
								<span id="item-label"></span>
							</div>
						</div>
						<div class="row p-1">
							<div class="col">Description</div>
							<div class="col">
								<span id="item-description"></span>
							</div>
						</div>
						<div class="row p-1">
							<div class="col">Image Url</div>
							<div class="col">
								<span id="item-img"></span>
							</div>
						</div>
						<div class="row p-1">
							<div class="col">Item Url</div>
							<div class="col">
								<span id="item-url"></span>
							</div>
						</div>
						<div class="row p-1">
							<div class="col">Price</div>
							<div class="col">
								<span id="item-price"></span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="create" class="btn btn-secondary">Add</button>
					</div>
				</div>
			</div>
		</div>

		<script src="js/listdetails.js"></script>
		{% endblock %}
	</body>
</html>
