.Nav {
  width: 100vw;
  height: 50px;
  position: fixed;
  background-color: darkslategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav_title {
  margin-left: 10px;
  color: white;
  font-family: "Jalnan";
}

.Navi {
  width: 300px;
  display: flex;

  justify-content: space-evenly;
}

.Navs {
  color: white;
  font-family: "Jalnan";
  text-decoration: none;
}
